*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url("flappybirdbg.png");
    height: 80vh;
}
.main .box{
    height: 100vh;
    width: 100%;
    opacity: .44;
    background-color: black;
}
.pipe{
    background-image: url("toppipe.png");
}
.pipe .box{
    height: 100vh;
    width: 100%;
    opacity: .44;
    background-color: black;
}